{% extends 'base.html' %}
{% block title %}Записи сообщества {{ group.title }} {% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

    {% for post in posts %}
        <h1>{{ group.title }}</h1>
        <p>
            {{ group.description }}
        </p>
        <p>
            {{ post.text }}
        </p>
        <h3>
            Автор: {{ post.author }}, дата публикации: {{ post.pub_date|date:'d M Y' }}
        </h3>
        <hr>
    {% endfor %}

    {% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}

{% endblock %}
